<br>
<div class="container mx-auto px-16">
  <div class="flex justify-center">
    <%= image_tag "yuki1.jpg", class: "h-32 rounded-full", alt:"yukiko" %>
  </div>
  <div class="flex">
    <div class="flex-initial text-gray-700 px-4 py-2 m-2">
      <p>
        こんにちは！私の名前はゆきこです。現在、カナダのモントリオールに住んでいます。私は、英語とフランス語を勉強していて、語学を学ぶことがとても好きです。だから日本語を教えたり文化を共有したりすることも楽しいんじゃないかと思い、2018年4月から日本語を教えることにしました。私は日本語を教える資格があるわけではありません。しかし自分で文法の教え方について勉強し、いろいろな先生の教え方を研究しながら、自分のスタイルを築き上げました。そして教師を始めて約二年ですが、1900レッスン以上の経験があります。(2020年3月現在) 
      </p>
      <p>
        趣味: 猫と遊ぶこと/ ネットフリックスを見ること/ パンを作ること
      </p>
      <br>
      <p>
        Hi, I'm Yukiko and currently live in Montreal, Canada. I'm learning languages which are English and French.
        It's really fun! I thought it would be also fun to teach my native language and share the culture. So I started teaching Japanese on April 2018. I don't have any certifications, but I learned how to teach Japanese grammar to non-Japanese people and I researched how other teachers are teaching. And now I built up own teaching style. I have about two years of teaching experience but I already have taught 1900 Japanese lessons (as of March 2020). 
      </p>
      <p>
        Hobby : Play with cat, watch Netflix, bake bread.
      </p>
    </div>
  </div>
</div>